@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    margin: 0;
    background-color:#000; 
}
  
  canvas {
    display: block;
    vertical-align: bottom;
  }
  /* .fade-in-image */.fade-in {
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
  }
  section {
    height: 100vh;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  /* ---- LANDING PAGE---- */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .copy-house {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10%;
    width:55%;
    @media screen and (min-width: 600px) {
      width:45%;
    }
    @media screen and (min-width: 768px) {
      width:35%;
    }
    @media screen and (min-width: 1000px) {
      width:25%;
 
    }
    @media screen and (min-width: 1600px) {
      width:25%;
   
    }
  }
  .logo {
    margin:auto;
    position: relative;
    text-align: center;
    margin-top: 154px;
    max-width: 90%;
    transform: rotate(0) !important;
    @media screen and (min-width: 600px) {
      max-width: 100%;
    }
    @media screen and (min-width: 768px) {
      max-width: 50%;
      margin-top:140px;
    }
    @media screen and (min-width: 1000px) {
      max-width: 100%;
      margin-top: 124px;
    }

    @media screen and (min-width: 1600px) {
      max-width: 420px;
      margin-top: 44px;
    }
  }
  .orb {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 200%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 350px;
    width: 350px;
    @media screen and (min-width: 600px) {
      
    }
    @media screen and (min-width: 768px) {
      height: 360px;
      width: 360px
    }
    @media screen and (min-width: 1000px) {
      background-color: rgba(255, 255, 255, 0.19);
      height: 660px;
      width: 660px
    }
    @media screen and (min-width: 1600px) {
      height: 760px;
      width: 760px
   
    }
  }
  .hero-h1 {
    background-color: transparent;
    font-family: 'KoHo', sans-serif;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    @media screen and (min-width: 600px) {
      font-size:18px;
    }
    @media screen and (min-width: 768px) {
      font-size:18px;
    }
    @media screen and (min-width: 1000px) {
  
      font-size: 22px;
    }
    @media screen and (min-width: 1293px) {

      font-size: 25px
    }
    @media screen and (min-width: 1675px) {
     
      font-size:30px;
    }
  }
  .section-title {
    font-family: 'KoHo', sans-serif;
    font-size:3em ;
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
  }
  .hello-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 100px;
    font-family: 'KoHo', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin:auto;
    text-align: center;
    color: #fff;
    display: block;
 
    @media screen and (min-width: 600px) {
      font-size: 14px;
    }
    @media screen and (min-width: 768px) {
      font-size:16px;
    }
    @media screen and (min-width: 1000px) {
     
    }
    @media screen and (min-width: 1293px) {
   
    }
    @media screen and (min-width: 1600px) {
  
    }
    @media screen and (min-width: 1860px) {
 
    }
  }
  

    /* ---- WORK PAGE---- */
    .project {
      background-color: rgba(255, 255, 255, 0.19);
      border-radius: 300%;

    }
    .copy-house-page {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 0%;
      width:100%;
      @media screen and (min-width: 600px) {
  
      }
      @media screen and (min-width: 768px) {

      }
      @media screen and (min-width: 1000px) {
   
      }
      @media screen and (min-width: 1600px) {
 
     
      }
    }
    .logo-standard-page {
      margin-top:60px;
      position: relative;
      text-align: left;
      display: block;
  
      @media screen and (min-width: 600px) {

      }
      @media screen and (min-width: 768px) {
 
      }
      @media screen and (min-width: 1000px) {
      
   
      }
  
      @media screen and (min-width: 1600px) {
    
     
      }
    }
    .mission {
      width:50%;
      margin:50px 0 50px 0;
      text-align: left;
      font-family: 'Roboto', sans-serif;
      font-size:1.3em;
      line-height: 30px;
    }
